body, html{
	margin: 0;
	padding: 0;
	height: 100%
}
.container{
	height: 80%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carousel{
	height: 100%;
}
.carousel-inner{
	height: 100%;
}

